/*GLOBAL*/
*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*////////////////////////////////////////////////TITULO DE LA PAGINA -DETALLES///////////////////////////////////////////////////////// */
h1{
font-family: 'Indie Flower', cursive;
font-size: 50px;
text-align: center;
}

/*////////////////////////////////////////////////////////////////////NAV SUPERIOR///////////////////////////////////////////////////////*/
.navbar-inverse {
    background-color: white;
    border-color: white;
    font-size: 10px;
  }
.navbar-nav{
	position: relative;
	padding-left: 400px;
	top:25px;
}
.navbar-toggle{
	float: left;

}
.navbar-inverse .navbar-toggle{
	background-color:#FCB5B5;
	border-color: white; 
	
}
/*//////////////////////////////////////////////////////////////DROPDOWN ACTIVO///////////////////////////////////////////////////////////*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	 color: #9d9d9d;
     background-color: white;
 
}
/*DROPDOWN DESPLEGADO////////////////////////////////////////////////////////////------ Tengo que retocar otra vez el tamano del cuadrito rosa*/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #9d9d9d;
    border: 2px solid #FCB5B5;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    
}
/*////////////////////////////////////////////////////////////////DROPDOWN GRAL////////////////////////////////////////////////////////////////*/
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #9d9d9d;
    white-space: nowrap;
    font-size: 10px;
    z-index: -2;
}
/*/////////////////////////////////////////////////////CAROUSEL SECTION//////////////////////////////////////////////////////////////////////////*/
.carousel{
	display: flex;
	flex-direction: row;
	justify-content: center;	
	margin-bottom: 50px;
}
#fotocarousel1, #fotocarousel2, #fotocarousel3, #fotocarousel4{
	width: 100%;
	height: 100%;
	border:5px solid white;
}
#blog, #blog2{
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	padding-bottom: 20px;
}

/*///////////////////////////////////////////////////////MENUFOTOS - SECTION/////////////////////////////////////////////////////////////////////////*/
.menufotos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	font-size: 10px;

}
 #fotocomida{
 	display: flex;
	flex-direction: row;
	justify-content: center;
 	margin: 0 auto;
 	width: 50%;
 	height: 100%;
 	border-radius: 20px;
 	border:5px solid white;

 }
.menufotos a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	bottom: 90px;
	color: white;
	text-align: center;
	background-color: #FCB5B5;
	border-radius: 20px;
	opacity: 50%;
	width: 90px;
	position: relative;
	left:95px;
}

.menufotos div img div{

	width: 200px;
	height: 100px;
	background-color: #9d9d9d;
	border-radius: 20px;
	position: relative;
	top:330px;
}
/*/////////////////////////////////////////////////////////////HOVER FOTOS////////////////////////////////////////////////////////////////////////////*/

.aparece{
	width: 268px;
	height: 100px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	text-align: left;
	position: absolute;
	left: 7px;
	bottom: 0px;
	}
h2{
	overflow: hidden;
	cursor: pointer;
	color: transparent;
	font-size: 15px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}
 h2:hover{
	background: #FCB5B5;
	color:white;
	transition: all 300ms;
	position: relative;
	left: 5px;
	bottom: -5px;
	padding-bottom: 10px;

 }
.aparece:hover{
	left: 0px;
	opacity: 0.8;
}



/*/////////////////////////////////////////////////////////MEDIA SECTION - VIDEOS Y PERFIL/////////////////////////////////////////////////////////////////////*/
.media{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	position: static;
	top: 100px;
}
.titular{
	width: 100%;
	margin-bottom: -60px;
	padding-top: 20px;
	font-size: 15px;
	font-family: 'Indie Flower', cursive;
	display: flex;
	flex-direction: row;
}
.cajaprofile{
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-left: 30px;
	position: relative;
	left: 30px;
	margin-bottom: 70px;
}
h4{
	text-align: center;
	font-weight: bold;
}
h5{
	text-align: center;
	font-size: 13px;
	padding-bottom: 10px;
	color: grey;
}
h6{
	position: relative;
	left: -825px;
	bottom: 15px;
}
#yo, #news{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	text-align: center;
	position: relative;
	bottom: 15px;	
	color: white;
}
#play{
	position: relative;
	padding-bottom: -50px;
}
#profile{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-left: 30px;
}
#arriba, #abajo{
	width: 100%;
	height: 30px;
	background-color: #FCB5B5;
	border-radius: 20px;
}

/*/////////////////////////////////////////////////////////SECTION - RECETARIOS/////////////////////////////////////////////////////////////////////*/


#delicias, #delicias2, #delicias3{
 	display: flex;
	flex-direction: column;
	justify-content: flex-end;
 	height: 100%;
 	border-radius: 20px;
 	border:5px solid white;
 	width: 95%;
 }
 .cajitadeliciosa, .cajitadeliciosa2, .cajitadeliciosa3{
 	display: flex;
 	justify-content: flex-end;
 	border:2px solid white;
 	flex-direction: column;
 	margin-right: 20px;
 }


 .recetario, .recetario2, .recetario3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	margin: 0 auto;
	font-size: 10px;
	width: 1000px;
	height: 100%;
}
.info, .info2, .info3{
	display: flex;
	flex-direction: column;
	text-align: left;

}
#leer, #leer2, #leer3{
	background-color: #FCB5B5;
	width: 100px;
	height: 50px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

#leer a, #leer2 a, #leer3 a{
	font-size: 15px;
	color: white; 
}


#by, #by2, #by3{
	margin-left: -180px;
	margin-bottom: -10px;
	color: grey;
}
#medi p, #medi2 p, #medi3 p{
	font-size: 13px;
	width: 350px;
	padding-bottom: 20px;
	color: grey;
	text-align: justify;
}
.grande{
	display: flex;
	flex-direction: row;
}

.iconitos, .iconitos2, .iconitos2A, .iconitosA, .iconitos2B, .iconitosB{
	width: 20px;
	height: 20px;
	display: flex;
	flex-direction: row;
}

#icon1, #icon2{
	width: 20px;
	height: 20px;
	position: relative;
	left: 250px;
	bottom: 30px;
}

#icon1A, #icon2A{
	width: 20px;
	height: 20px;
	position: relative;
	left: 250px;
	bottom: 30px;
}
#icon1B, #icon2B{
	width: 20px;
	height: 20px;
	position: relative;
	left: 250px;
	bottom: 30px;
}

#botoncitos1, #botoncitos2{
	width: 20px;
	height: 20px;
	position: relative;
	left: 250px;
	bottom: 30px;
}

#botoncitos1A, #botoncitos2A{
	width: 20px;
	height: 20px;
	position: relative;
	left: 250px;
	bottom: 30px;
}
#botoncitos1B, #botoncitos2B{
	width: 20px;
	height: 20px;
	position: relative;
	left: 250px;
	bottom: 30px;
}

/*/////////////////////////////////////////////////////////////////////FOOTER NAV///////////////////////////////////////////////////////////////////////////////*/

.redes{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: center;
	width: 100%;
	padding-top: 90px;
	padding-bottom: 10px;
}
#logos1, #logos2, #logos3, #logos4, #logos5 {
	width: 36px;
	height: 36px;
	margin: 5px;
}
div a{
	color: grey;
	padding: 10px;
}
#introrecetario{
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	padding-bottom: 30px;

}

/* ------------------------------------------------------------queries---------------------------------------------------------------------------  */

@media all and (max-width:760px) {
	.navbar-toggle{
		float: right;
	}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	position: relative;
	top: -61px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: white;
}
.navbar-nav {
	

}

h1{
	font-size: 40px;
	padding-right: 30px;
}
.carousel{
	display: flex;
	flex-direction: row;
	justify-content: center;	
	margin-bottom: 50px;
}

#fotocarousel1,{
	width: 100%;
	height: 100%;
	border:5px solid white;
}
#fotocarousel3, #fotocarousel4, #fotocarousel2{
	display: none;
} 

.menufotos{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	font-size: 10px;

}
 
.menufotos a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	bottom: 90px;
	color: white;
	text-align: center;
	background-color: #FCB5B5;
	border-radius: 20px;
	opacity: 50%;
	width: 90px;
	position: relative;
	left:153px;
	bottom: 110px;
}
.titular{
	display:none;
}
iframe{
	display: none;
}	
.cajaprofile{
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: -30px;
}
#recetario, #recetario2{
	display: none;
}
#by, #by2, #leer, #leer2, h3{
	display: none;
}
#medi, #medi2, #delicias, #delicias2{
	display: none;
}
#leer a, #leer2 a{
	display: none;
}

#recetario3, #leer3 a, #medi3, #delicias3, #leer3{
	display: flex;
	justify-content: center;
	padding-right: 20px;
}
#delicias3{
	justify-content: center;
	align-content: center;
	width: 90%;
}

#medi3{
	justify-content: center;
	align-content: center;
	width: 90%;
	text-align: center;
}

#leer3{
	text-align: center;
}



















/*
.container
position relative


.overlay
position:absolute
bottom:4px
left:0px;
right:0;
backg..color:
width:100%
overflow:100%
text aling:center
height:0
transition: .5s ease


.container:hover .overlay
heigh:20%;
cursor:pointer

.text
position absolute
text align left..
darle tamanio de left y rigfht too






















h2{
	background: transparent;
	background-color: transparent;
	cursor: pointer;
	color: white;

}


h2:hover{
	background: red;
	color:white;
	transition: all 300ms;
}









imagen:hover .info{--------------- afecta esto solo a info
			opacity: 1;	
			*/											