* {
  margin: 0;
}
body {
  background: linear-gradient(pink, white);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 800px;
}
.pelota1 {
  border-radius: 50%;
  background-color: blue;
  width: 200px;
  height: 200px;
  margin-right: 10px;
}
.pelota1:hover {
  background: #6666ff;
}
.pelota1:hover h1 {
  font-family: sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  position: relative;
  top: 40px;
}
.pelota2 {
  border-radius: 50%;
  background-color: blue;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  background-color: green;
}
.pelota2:hover {
  background: #6666ff;
}
.pelota2:hover h1 {
  font-family: sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  position: relative;
  top: 40px;
}
.pelota2:hover {
  background: #00e600;
}
.pelota3 {
  border-radius: 50%;
  background-color: blue;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  background-color: red;
}
.pelota3:hover {
  background: #6666ff;
}
.pelota3:hover h1 {
  font-family: sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  position: relative;
  top: 40px;
}
.pelota3:hover {
  background: #ff6666;
}
h1 {
  color: transparent;
}
