*{
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}

body {
	padding: 5px;
	width: 100%;
	background-color: white;
	display: inline-block;
}

header{
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}

nav {
	float: left;
	margin-right: 2em;
	margin-top: 1.5em;
	display: inline-block;
	margin-left: 30px;	
}
nav a:visited{
text-decoration: solid;
}
nav a:link{
text-decoration: solid;
}

#promo{
	font-weight: normal;
	color: #E4A6AF;
}

a{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-align: left;
	display: inline-block;
	color: #F61A3A;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 3px;
}


#burguer{
	display: inline-block;
	width: 15px;
	height: 15px;
	float: right;
	margin: 30px;
}

section
{
	width: 100%;
	

}
.producto{
	width: 300px;
	height: 300px;
	display: inline-block;
	position: relative;
	margin:100px;
	
}
.productob{
	width: 300px;
	height: 300px;
	display: inline-block;
	position: relative;
	margin:100px;
	
}
.productoc{
	width: 300px;
	height: 300px;
	display: inline-block;
	position: relative;
	margin:100px;
	
}


h5{
	text-align: center;
	display: inline-block;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 25px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #F61A3A;
}




@media (max-width:480px) {

	nav{
		text-align: left;
	}

	a{
		font-size: 13px;
		text-align: left;
		padding-left: 0px;
		display: inline-block;
	}

	#burger{
		display: inline-block;
		width: 15px;
		height: 15px;
		margin-bottom: 30px;
	}

	section{
		display: block;
		float: left;
		position: relative;
		margin:0;
	}

	h5{
		text-align: center;

	}

	.producto, .productob, .productoc{
		margin-left: 0px;
		margin-right: 50px;
		margin-top: 10px;
	}
 



