.container {
  width: 800px;
  background-color: none;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bloque1 {
  display: flex;
  flex-direction: row;
  background-color: grey;
  padding: 10px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.caja1 {
  width: 400px;
  height: 400px;
  background-color: peru;
  margin-right: 10px;
}
.caja2 {
  width: 400px;
  height: 400px;
  background-color: peru;
  margin-right: 10px;
  background-color: yellow;
}
.bloque2 {
  background-color: grey;
  padding: 10px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.caja3 {
  width: 400px;
  height: 400px;
  background-color: peru;
  margin-right: 10px;
  height: 200px;
}
.caja4 {
  width: 400px;
  height: 400px;
  background-color: peru;
  margin-right: 10px;
  background-color: yellow;
  height: 200px;
}
.parrafo {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  height: 200px;
  background-color: peru;
  width: 840px;
  height: 100px;
  text-align: center;
}
.caja1:hover {
  background: plum;
  cursor: pointer;
}
.caja3:hover {
  background: plum;
  cursor: pointer;
}
.caja2:hover {
  background-color: palegreen;
  cursor: pointer;
}
.caja4:hover {
  background-color: palegreen;
  cursor: pointer;
}
